<div class="ui centered cards">  
{{#each playlists}}
    <div class="ui card">
    <div class="ui centered image">"ui small centered image">
        <img src="{{picture}}" alt="{{title}}">
      </div>
      <div class="content">
        <p class="center aligned header"><a href="/playlist
        <p class="center aligned">/{{id}}">{{title}}</a></p>
        <p class = "genre">
          {{genre}}
        </p>
        <p class = "host">
     ter aligned">
        </p>
          <a href="/deletePlayList/{{id}}" class=" delplaylist ui icon button"><i cl        </p>ra
      sh ico
</div>       </div>
      </div>
  {{/each}}
  </div>



