<div class="ui centered cards">  
{{#each playlists}}
    <div class="ui fluid card">
      <div class="ui centered image">
        <img src="{{picture}}" alt="{{title}}">
      </div>
      <div class="content">
        <p class="center aligned header"><a href="/playlist/{{id}}">{{title}}</a></p>
        <p class = "genre">
          {{genre}}
        </p>
        <p class = "host">
          {{host}}
        </p>
        <p class="center aligned">
        </p>
          <a href="/deletePlayList/{{id}}" class=" delplaylist ui icon button"><i class="trash icon"></i></a>
        </div>
      </div>
  {{/each}}
</div>


