<div class="ui centered cards">  
{{#each playlists}}
    <div class="ui orange card">
      <div class = "content">
        <div class = "header"><a href="/playlist/{{id}}">{{title}}</a></div>
       <div class="ui fluid centered image">
        <img src="{{picture}}" alt="{{title}}">
      </div>
        
      </div>
      
      <div class = "meta">
      <span class = "right floated genre">Genre: {{genre}}</span>
      <span class = "left floated host">Host: {{host}}</span>
        </div>
      <div class = "extra content">
      <div class = "center aligned delete">
          <a href="/deletePlayList/{{id}}" class=" delplaylist ui icon button"><i class="trash icon"></i></a>
          
        </div>
      </div>
  </div>
      
    {{/each}}
</div>
      
      

