{{> menu id="dashboard"}}

{{#each playlists}}
  <section class="ui segment">
    <h1 class="ui header">
      {{title}}
    </h1>
    <h3>
      Host: {{host}}
    </h2>
    <p>
      Total Duration: {{duration}}
    <p>
    <table class="ui table">
      <thead>
        <tr>
          <th>Podcast</th>
          <th>Host</th>
          <th>Duration</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {{#each episodes}}
          <tr>
            <td>
              {{title}}
            </td>
            <td>
              {{host}}
            </td>
            <td>
              {{duration}}
            </td>
            <td>
              {{genre}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{/each}}