{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1>Welcome to the Podcast Organiser</h1>
    <p>
    This is a small app to help you organise your podcasts.<br>
    
    <br>Each podcast is identified by the podcast name, host, genre and image.<br>
      <br>Each podcast then stores episodes with the episode name and duration.<br>
        <br>It is a very handy app if you are a big podcast fan!!
  </p>
  <p> Please feel free to Sign up or Log in... </p>
  <div class="ui equal width padded center aligned grid">
    <div class="column">
      <div class="ui raised inverted segment">
      <div class="ui four small statistics">
        <div class="ui inverted green statistic">
          <div class="value">
            <i class="headphones icon"></i> {{totalpodcasts}}
          </div>
          <div class="white label">
            Podcasts
          </div>
        </div>
        <div class="ui inverted orange statistic">
          <div class="value">
            <i class="microphone icon"></i> {{totalepisodes}}
          </div>
          <div class="label">
            Episodes
          </div>
        </div>
        <div class="ui inverted red statistic">
          <div class="value">
            <i class="user circle icon"></i> {{totalusers}}
          </div>
          <div class="label">
            Users
          </div>
        </div>
        <div class="ui inverted yellow statistic">
          <div class="value">
            <i class="comment icon"></i> {{totalcomments}}
          </div>
          <div class="label">
            Comments
          </div>
        </div>
        </div>
        <div class="ui one small statistics">
        <div class="ui inverted green centered statistic">
          <div class="value">
            {{avgepisodes}}
          </div>
          <div class="aligned label">
            Average episodes per podcast
          </div>
        </div>
        </div>
      
    
    <div class="ui divider"></div>
        
      <div class="ui two mini statistics">
        <div class="ui inverted yellow statistic">
          <div class="value">
            {{biggestpodcast}}
          </div>
          <div class="label">
            Largest podcast
          </div>
        </div>
        <div class="ui inverted brown statistic">
          <div class="value">
            {{smallestpodcast}}
          </div>
          <div class="label">
            Smallest podcast
          </div>
        </div>
      </div>
      </div>
    </div>
    
    <div class="column">
    <div class="ui raised segment">
    <img src = "https://cdn.glitch.com/ba05c576-159c-48d7-a767-a88b04fb69fb%2Fthumbnails%2FListening-to-Podcast-MGR-Blog.jpg?1550749450506" class = "ui large fluid image" alt = "Woman listening to podcast">
  </div>
          </div>
  </div>
</section>