{{> menu}}

<section class="ui center aligned middle aligned segment" id = "welcome">
  <h1 class="ui header">
    Welcome {{fullname}}
  </h1>
  <p>
    This is a small app to help you organise your podcasts into playlists.<br>
    
    <br>Each playlist contains the podcast name, author, duration and genre.<br> 
    
    <br>It is a very handy app if you are a big podcast fan!!
  </p>
  
  <div class="ui equal width padded center aligned grid">
    
    <div class="column">
      <div class="ui raised segment">
        
      <h3> Your stats in the app:</h3>
        
      <div class="ui two statistics">
        <div class="statistic">
          <div class="value">
            <i class="book icon"></i> {{totalpodcasts}}
          </div>
          <div class="label">
            Podcasts
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            <i class="bookmark icon"></i> {{totalepisodes}}
          </div>
          <div class="label">
            Episodes
          </div>
        </div>
      </div>
      
      <div class="ui divider"></div>
        
        <div class="ui centered statistic">
          <div class="value">
            {{avgepisodes}}
          </div>
          <div class="aligned label">
            Average episodes per podcast
          </div>
        </div>
      
      <div class="ui divider"></div>
        
      <div class="ui two statistics">
        <div class="statistic">
          <div class="value">
            {{biggestpodcast}}
          </div>
          <div class="label">
            Largest podcast
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{smallestpodcast}}
          </div>
          <div class="label">
            Smallest podcast
          </div>
        </div>
      </div>
        
      </div>
    </div>
    
  <div class="column">
    <div class="ui raised segment">
    <img src = "https://cdn.glitch.com/ba05c576-159c-48d7-a767-a88b04fb69fb%2Fthumbnails%2FListening-to-Podcast-MGR-Blog.jpg?1550749450506" class = "ui middle aligned large fluid image" alt = "Woman listening to podcast">
  </div>
      </div>
  </div>
</section>